<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-auto">
      <h1>Materias</h1>
    </div>
    <div class="col-auto">
      <button class="btn btn-success" routerLink="add">
        <i class="fa-duotone fa-light fa-user-plus"></i> Nueva
      </button>
    </div>
    <div class="col-auto">
      <button class="btn btn-info" (click)="subjectService.subjects.reload()">
        <i class="fa-duotone fa-light fa-arrow-rotate-right"></i> Recargar
      </button>
    </div>
  </div>
  @if (subjectService.subjects.isLoading()) {
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </div>
  } @else {
    @if(subjectService.subjects.error()) {
  <div class="alert alert-danger" role="alert">
    Ocurrió un error al cargar las materias. Por favor, inténtelo de nuevo más tarde. ERROR:
    {{ subjectService.subjects.error()?.message }}
  </div>
  } @else {
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Categoría</th>
          <th scope="col">Día</th>
          <th scope="col">Hora Inicio</th>
          <th scope="col">Hora Fin</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of subjects(); track $index) {
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.scheduleDay }}</td>
          <td>{{ item.scheduleTimeFrom }}</td>
          <td>{{ item.scheduleTimeTo }}</td>
          <td>
            <div class="container-fluid">
              <div class="row">
                <div class="col-auto">
                  <button class="btn btn-outline-primary" routerLink="edit/{{ item.id }}">
                    <i class="fa-duotone fa-solid fa-pencil"></i>
                  </button>
                </div>
                <div class="col-auto">
                  <button class="btn btn-outline-danger" (click)="onDelete(item.id)">
                    <i class="fa-duotone fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" (click)="previousPage()">Anterior</a>
        </li>
        @for (item of totalItems(); track $index) {
          <li class="page-item" style="cursor: pointer;" (click)="onPageChange($index)" [class]="$index == page() ? 'active': ''"><a class="page-link" >{{ $index + 1 }}</a></li>
        }
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  } }
</div>
